<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal Node App</title>
</head>
<body>
    <h1> San Diego Padre´s Baseball cap</h1>
    <h2><img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTarYrxqBvTMyjm_HTAzdd6IrtWRWgtGG136pxaGHygjpjI_40YG-T25TFggmZdoe-bvFM&usqp=CAU”  alt="W3Schools.com width="150" height="150"> 
    <form action = "/pay"method ="post">
   <input type ="submit" value ="buy"> 
    </form></h2>
    <h3>Buy it now for just R25.00</h3> 
    
</body>
</html>